.database.screen {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

#database-content {
    width: 89%;
    padding: 2rem;
}

.database-interface {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}