.select-button {
    width: 5%;
    max-width: 1rem;
    aspect-ratio: 1 / 1;

    max-height: 1rem;

    margin: 0;
    padding: 0;
    /*padding: 0.25rem;*/
    /*margin-right: 0.5rem;*/

    background: var(--color-background);
    background-color: var(--color-background);
    border: 1px solid var(--color-dark);
    border-radius: 0.25rem;
    box-sizing: border-box;

    cursor: pointer;
}

.select-button:hover {
    background-color: var(--color-background-hover);
    background: var(--color-background-hover);
}

.select-button.selected {
    background-color: var(--color-primary);
    background: var(--color-primary);
    border-color: var(--color-primary-active);
}

.select-button div {

    display: flex;
    justify-content: center;
    align-items: center;
}