.db-sidebar {
    height: 100%;
    width: 11%;
    /*max-width: 15%;*/
    background-color: var(--theme-color-secondary);
    background: var(--theme-color-secondary);
    color: var(--color-menu-text);
}

.db-sidebar ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.db-sidebar li {
    list-style: none;
    padding-inline: 3rem;
    border: none;
    border-bottom: 1px solid var(--color-border);
    background-color: var(--theme-color-secondary);
    background: var(--theme-color-secondary);
    padding-block: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;

    /* Outline the text */
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

.db-sidebar li:hover, .db-sidebar li.active {
    background-color: var(--theme-color-primary);
    background: var(--theme-color-primary);
}